<% unless @jira_bug.nil? %>
	<h2><%= @jira_bug.key %></h2>
	<table>
	<%= @ele = :id; render 'jira_bugs/jira_bug_element' %>
	<%= @ele = :summary; render 'jira_bugs/jira_bug_element' %>
	<%= @ele = :reporter; render 'jira_bugs/jira_bug_element' %>
	<%= @ele = :issuetype; render 'jira_bugs/jira_bug_element' %>
	<%= @ele = :priority; render 'jira_bugs/jira_bug_element' %>
	<%= @ele = :security; render 'jira_bugs/jira_bug_element' %>
	<%= @ele = "depends_on"; render 'jira_bugs/jira_bug_depends_on' %>
	<%= @ele = "depended_on_by"; render 'jira_bugs/jira_bug_depends_on' %>
	</table>
	<table>
	<tr><td>

	<h3> Raw Info: </h3>
	<% unless @info.nil? %>
			<%= simple_format JSON.pretty_generate(@info) %>
		<% else %> 
		None Available.
		<% end %>
	</tr></td>
	</table>
	<br>
<% else %>
<h2><%= params[:id] %>
No local version of this Issue can be found. Please Sync with JIRA.
<% end %>
<br>
<br>
<%= render 'jira_bugs/fields/jira_sync_button'%>
