<% @url = "/jira_bugs/" + @jira_bug.key %>
<tr>
<td><%= @jira_bug.jid %></td>
<td><%= @jira_bug.key %></td>
<td><a href=<%= @url %>><%= @jira_bug.summary %></a></td>
<td><%= @jira_bug.components %></td>
<td><%= @jira_bug.type %></td>
<td><%= @jira_bug.priority %></td>
</tr>