<h2><%= @jira_bug.key %></h2>
<table>
<%= @ele = :id; render 'jira_bugs/jira_bug_element' %>
<%= @ele = :summary; render 'jira_bugs/jira_bug_element' %>
<%= @ele = :reporter; render 'jira_bugs/jira_bug_element' %>
<%= @ele = :issuetype; render 'jira_bugs/jira_bug_element' %>
<%= @ele = :priority; render 'jira_bugs/jira_bug_element' %>
<%= @ele = :security; render 'jira_bugs/jira_bug_element' %>
<%= render 'jira_bugs/jira_bug_depends_on' %>
</table>
<!-- Raw Info: -->
<table>
<tr><td>

<h3> Raw Info: </h3>
<% unless @info.nil? %>
		<%= simple_format JSON.pretty_generate(@info) %>
	<% else %> 
	None Available.
	<% end %>
</tr></td>
</table>
