<h2><%= @jira_bug.key %></h2>
<table>
	<tr>
		<th>ID</th>
		<th>Reporter</th>
		<th>Priority</th>
		<th>Issue Type</th>
	</tr>
	<tr>
		<td><%= @jira_bug.jid %></td>
		<td><%= @jira_bug.reporter %></td>
		<td><%= @jira_bug.priority %></td>
		<td><%= @jira_bug.issuetype %></td>
	</tr>
	<tr>
		<th>Summary</th>
	</tr>
	<tr>
		<td><%= @jira_bug.summary %></td>
	</tr>
</table>
<br>
<br>
Raw Info:
<%= JSON.pretty_generate(@info).gsub(" ","&nbsp;") %>
