<h2>Workload detail report of <%= @wl.task.name %>: <%= at_zone(@wl.start_of_week, '%Y-%m-%d') %>
  - <%= at_zone(@wl.end_of_week, '%Y-%m-%d') %></h2>
Packages Built: <%= @wl.package_count %>
<%= render :partial => 'layouts/sep_tiny' %>
Total Time Spent On Each Status:
<% @wl.auto_sum_details.each do |asd| %>
    <%= render :partial => 'packages/fields/auto_track_time_display', :locals => {:status => asd.status, :time_consumed => asd.minutes} %>
<% end %>
<%= render :partial => 'layouts/sep' %>
<div class='manage-tbl'>
  <table>
    <tr>
      <th class='content-list-head'>Package Name</th>
      <th class='content-list-head'>Assignee</th>
      <th class='content-list-head'>Current Status</th>
      <th class='content-list-head'>Time Spent On Each Status</th>
    </tr>
    <% @wl.package_stats.each do |ps| %>
        <tr>
          <td style='font-size:10px;'><%= link_to ps.package.name, :controller => 'packages', :action => :show, :id => escape_url(ps.package.name), :task_id => escape_url(ps.package.task.name) %></td>
          <td style='font-size:10px;'>
            <% if ps.package.assignee.blank? %>
                -
            <% else %>
                <%= ps.package.assignee.name %>
            <% end %>
          </td>
          <td style="font-size:10px;<%= ps.package.status.style %>"><%= ps.package.status.name %></td>
          <td style='font-size:10px;text-align: left;'>
            <% ps.status_stats.each do |ls| %>
                <%= render :partial => 'packages/fields/auto_track_time_display', :locals => {:status => ls.status, :time_consumed => ls.minutes} %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>


