<h2>Workload detail report of <%= @wl.brew_tag.name %>: <%= at_zone(@wl.start_of_week, '%Y-%m-%d') %>
  - <%= at_zone(@wl.end_of_week, '%Y-%m-%d') %></h2>
Packages Built: <%= @wl.package_count %>
<%= render :partial => 'layouts/sep_tiny' %>
Automatic Time Track:
<% @wl.auto_sum_details.each do |asd| %>
    <%= render :partial => 'packages/fields/auto_track_time_display', :locals => {:label => asd.label, :time_consumed => asd.minutes} %>
<% end %>
<%= render :partial => 'layouts/sep_tiny' %>
Manual Time Track:
<%= display_track_time_in_real_time(@wl.manual_sum) %>
<%= render :partial => 'layouts/sep' %>
<div class='manage-tbl'>
  <table>
    <tr>
      <th class='content-list-head'>Package Name</th>
      <th class='content-list-head'>Assignee (Was)</th>
      <th class='content-list-head'>Assignee (Current)</th>
      <th class='content-list-head'>Current Label</th>
      <th class='content-list-head'>Automatic Time Track</th>
      <th class='content-list-head'>Manual Time Track</th>
    </tr>
    <% @wl.package_stats.each do |ps| %>
        <tr>
          <td style='font-size:10px;'><%= link_to ps.package.name, :controller => 'packages', :action => :show, :id => escape_url(ps.package.name), :brew_tag_id => escape_url(ps.package.brew_tag.name) %></td>
          <td style='font-size:10px;'>
            <% if ps.assignee.blank? %>
                -
            <% else %>
                <%= ps.assignee.name %>
            <% end %>
          </td>
          <td style='font-size:10px;'>
            <% if ps.package.assignee.blank? %>
                -
            <% else %>
                <%= ps.package.assignee.name %>
            <% end %>
          </td>
          <td style="font-size:10px;<%= ps.package.label.style %>"><%= ps.package.label.name %></td>
          <td style='font-size:10px;text-align: left;'>
            <% ps.label_stats.each do |ls| %>
                <%= render :partial => 'packages/fields/auto_track_time_display', :locals => {:label => ls.label, :time_consumed => ls.minutes} %>
            <% end %>
          </td>
          <td style='font-size:10px;'><%= display_track_time_in_real_time(ps.minutes) %></td>
        </tr>
    <% end %>
  </table>
</div>


