<div class='manage-tbl'>

  <table>
    <tr>
      <th class='content-list-head'>
        Task Name
      </th>
      <th class='content-list-head'>
        Total Number Of Packages
      </th>
      <th class='content-list-head'>
        Time Consumed Per Status
      </th>
      <th class='content-list-head'>
        More Reports
      </th>
    </tr>
    <% if Rails::VERSION::STRING < "4" %>
        <% all_taskworkload = TaskWorkloadSummary.all(:order => :id) %>
    <% else %>
        <% all_taskworkload = TaskWorkloadSummary.all.order(:id) %>
    <% end %>
    <% all_taskworkload.each do |tws| %>
        <tr>
          <td><%= tws.task.name %></td>
          <td><%= tws.total_number_of_packages %></td>
          <td>
            <%
               workload_per_status_in_minutes = JSON.parse(tws.workload_per_status_in_minutes)
               workload_per_status_in_minutes.each do |k, v|
            %>
                <%= render :partial => 'packages/fields/auto_track_time_display', :locals => {:status => Status.find(k), :time_consumed => v, :time_to_add => 0} %>
                <br/>
            <% end %>
          </td>
          <td>
            <%= link_to 'Detail Report',
                          :controller => :packages,
                          :task_id => escape_url(tws.task.name),
                          :style => 'time_report' %> /
            <%= link_to 'Weekly Report',
                        :controller => :packages,
                        :task_id => escape_url(tws.task.name),
                        :style => 'workload' %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
