<div style="width:100%;text-align:left;">
  <h2>Components</h2>

  <div class='manage-tbl'>
    <table>
      <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Products</th>
        <% if can_manage? %>
            <th style="text-align: center">Operation</th>
        <% end %>
      </tr>
      <% Component.all(:order => 'name').each do |component| %>
          <tr>
            <td><%= link_to "#{component.name}", :controller => :components, :action => :show, :id => escape_url(component.name) %>
            <td><%component.products.each do |product|%><%=product.name %> / <%end%></td>
            </td>
            <% if can_manage? %>
                <td>
                  <%= link_to 'Edit', :action => :edit, :id => escape_url(component.name) %> /
                  <%= link_to 'Delete', component, :method => :delete, :confirm => "Are you sure to delete '#{component.name}'?" %>
                </td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>
  <%= render :partial => 'layouts/sep' %>
  <% if can_manage? %>
      <%= link_to 'Create New Components View', :controller => :components, :action => :new %>
  <% end %>
</div>