<h1>New component</h1>

<% form_for(@component) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
        <%= render :partial => 'components/fields/brew_tags' %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>

<%= link_to 'Back', components_path %>