<% package ||= @package %>
<div id='send_comment'>

  <% if package.comments.size > 0 %>
      <div style="height:50px;clear:both;"></div>
  <% end %>
  <p>
    Add Comment: <%= render :partial => 'layouts/syntax_help' %>
  </p>
  <% if Rails::VERSION::STRING < "4" %>
    <% form_remote_tag(
               :url => {:controller => 'comments', :action => 'create'},
               :loading => "Element.show('spinner-comment');",
               :success => "Element.hide('spinner-comment');") do %>

        <%= text_area_tag :comment, nil, :class => 'comment_text_area' %>
        <%= render :partial => 'layouts/sep' %>

        <%= render :partial => 'layouts/notification',
                   :locals => {:title => 'Notify the comment to:',
                               :div_id => 'comment'} %>

        <%= render :partial => 'layouts/sep' %>
        <table border=0>
          <tr>
            <td><%= submit_tag 'Post' %> <%= render :partial => 'layouts/notification_link',
                                                    :locals => {:div_id => 'comment'} %></td>
            <td><span id="spinner-comment" style="display:none;"><%= image_tag 'ajax-loader1.gif' %></span></td>
          </tr>
        </table>
        <%= hidden_field_tag :package_id, package.id %>
    <% end %>
  <% else %>
    <%= form_tag(
               {:controller => 'comments', :action => 'create'},
               :remote => true,
               :loading => "Element.show('spinner-comment');",
               :success => "Element.hide('spinner-comment');") do %>

        <%= text_area_tag :comment, nil, :class => 'comment_text_area' %>
        <%= render :partial => 'layouts/sep' %>

        <%= render :partial => 'layouts/notification',
                   :locals => {:title => 'Notify the comment to:',
                               :div_id => 'comment'} %>

        <%= render :partial => 'layouts/sep' %>
        <table border=0>
          <tr>
            <td><%= submit_tag 'Post' %> <%= render :partial => 'layouts/notification_link',
                                                    :locals => {:div_id => 'comment'} %></td>
            <td><span id="spinner-comment" style="display:none;"><%= image_tag 'ajax-loader1.gif' %></span></td>
          </tr>
        </table>
        <%= hidden_field_tag :package_id, package.id %>
    <% end %>
  <% end %>
</div>
