<% unless is_global?(@status) %>
    <h2>Editing status of <%= params[:product_id] %></h2>
<% else %>
    <h2>Editing system internal status</h2>
<% end %>
<div class='manage-tbl'>
  <% form_for(@status) do |f| %>
      <%= f.error_messages %>
      <table>
        <%= f.hidden_field :id, :value => @status.id %>
        <%= render :partial => 'statuses/fields/name', :locals => {:f => f} %>
        <%= render :partial => 'statuses/fields/code', :locals => {:f => f} %>
        <%= render :partial => 'statuses/fields/style', :locals => {:f => f} %>
        <%= render :partial => 'statuses/fields/can_show', :locals => {:f => f} %>
        <%= render :partial => 'statuses/fields/can_select', :locals => {:f => f} %>
        <%= render :partial => 'statuses/fields/can_change_code', :locals => {:f => f} %>
        <%= render :partial => 'statuses/fields/is_track_time', :locals => {:f => f} %>
        <%= render :partial => 'statuses/fields/is_finish_state', :locals => {:f => f} %>
        <% unless is_global?(@status) %>
            <%= render :partial => 'statuses/fields/product', :locals => {:f => f} %>
        <% end %>
        <tr>
          <td colspan=2 style='text-align:right;'><%= f.submit 'Update' %></td>
        </tr>
      </table>
      </p>
  <% end %>
</div>