<h2>
  <% if params[:task_id].blank? %>
      System internal status list
  <% else %>
      Listing statuses of <%= unescape_url(params[:task_id]) %>
  <% end %>
</h2>
<div class='manage-tbl'>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Code</th>
      <th>Can Show</th>
      <th>Can Select</th>
      <th>Can Change Code</th>
      <th>Track Time</th>
      <th>Is Finish State</th>
      <th>CSS Style</th>
      <% if can_manage? %>
          <th>Operation</th>
      <% end %>
    </tr>
    <% @statuses.each do |status| %>
        <tr>
          <td><%= status.id %></td>
          <td><%= h status.name %></td>
          <td><%= h status.code %></td>
          <td>
            <%= status.can_show %>
          </td>
          <td>
            <%= status.can_select %>
          </td>
          <td>
            <%= status.can_change_code %>
          </td>
          <td>
            <%= status.is_track_time %>
          </td>
          <td>
            <%= status.is_finish_state %>
          </td>
          <td style="<%= status.style %>">
            Example
          </td>
          <% if can_manage? %>
              <td>
                <%= link_to 'Edit', :controller => :statuses, :action => :edit, :id => escape_url(status.name), :task_id => escape_url(params[:task_id]) %>
              </td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>
<%= render :partial => 'layouts/sep' %>

<% if can_manage? %>
    <% if has_task? %>
        <%= link_to "New status of #{unescape_url(params[:task_id])}", :controller => :statuses, :action => :new, :task_id => escape_url(params[:task_id]) %>
        <%= render :partial => 'layouts/sep_tiny' %>
        <%= link_to "Back to #{unescape_url(params[:task_id])}", :controller => :packages, :action => :index, :task_id => escape_url(params[:task_id]) %>

    <% else %>
        <%= link_to 'New status', new_status_path %>
    <% end %>
<% end %>
