<div class='manage-tbl'>
  <table>
    <tr>
      <td>Name</td>
      <td><%= h @status.name %></td>
    </tr>
    <tr>
      <td>Can Select</td>
      <td><%= @status.can_select %></td>
    </tr>
    <tr>
      <td>Can Show</td>
      <td><%= @status.can_show %></td>
    </tr>
    <tr>
      <td>Is Finish State</td>
      <td><%= @status.is_finish_state %></td>
    </tr>
    <tr>
      <td>CSS Style</td>
      <td style="<%= @status.style %>">Example</td>
    </tr>
    <% unless is_global?(@status) %>
        <tr>
          <td>Tag</td>
          <td>
            <%= h @status.task.name %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<%= render :partial => 'layouts/sep' %>
<%= link_to 'Edit', :controller => :statuses, :action => :edit, :id => @status.name, :task_id => params[:task_id] %> |
<%= link_to 'Back', :controller => :statuses, :action => :index, :task_id => params[:task_id] %>