<h2>
  Listing packages of <%= params[:user_id] %>
</h2>

<div class='manage-tbl'>
<%# render :partial => 'packages/stats' %>
  <p/>
  <table>
    <tr>
      <th class='content-list-head' style="width:150px;">Name</th>
      <th class='content-list-head' style="width:100px;">Tag</th>
      <th class='content-list-head' style="width:100px;">Status</th>
      <th class='content-list-head' style="width:100px;">Tags</th>
    </tr>
    <% @packages.each do |package| %>
        <tr>
          <td style='font-size:10px'>
            <%= link_to "#{package.name}",
                        :controller => 'packages',
                        :action => 'show',
                        :id => "#{escape_url(package.name)}",
                        :task_id => escape_url(package.task.name),
                        :user => params[:user] %>
          </td>
          <td style='font-size:10px'>
            <%= link_to package.task.name,
                        :controller => 'packages',
                        :action => 'index',
                        :task_id => package.task.name %>
          </td>
          <td style='font-size:10px'>
            <% if package.status %>
                <%= package.status.name %>
            <% end %>
          </td>
          <td style='font-size:10px'>
            <% if package.tags.size > 0 %>
                <% package.tags.each do |tag| %>
                    <%= tag.key %> /
                <% end %>
            <% else %>
                -
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>