<h2>Clone Settings</h2>
<%= render :partial => 'layouts/error_messages' %>


<form action="/tasks/clone/<%= escape_url(params[:id]) %>" method="post" onsubmit="return validateForm();">
  <input type='hidden' value='<%= escape_url(params[:id]) %>' name='source_task_name'/>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <label for="target_task_name_field">Clone <%= @task.name %> to:</label>
  <input id='target_task_name_field' name="target_task_name"/> - (target tag name) <br/>

  <%= render :partial => 'layouts/sep' %>  

  <input id='scope_status' name="scopes[]" type="checkbox" value="status" onclick="refresh_form();"/>
  <label for="scope_status">Clone Statuses</label>
  <%= render :partial => 'layouts/sep_tiny' %>
  <input id='scope_tag' name="scopes[]" type="checkbox" value="tag" onclick="refresh_form();"/>
  <label for="scope_tag">Clone Tasks</label>
  <%= render :partial => 'layouts/sep_tiny' %>
  <input id='scope_package' name="scopes[]" type="checkbox" value="package" onclick="refresh_form();"/>
  <label for="scope_package">Clone Packages</label>
  <%= render :partial => 'layouts/sep_tiny' %>
<div id='scope_assignee_div' style="display:none;">
<input id='scope_assignee' name="scopes[]" type="checkbox" value="assignee"/>
  <label for="scope_assignee">Clone Assignee</label>
</div>
  <%= render :partial => 'layouts/sep' %>


  <div id='div_status' style="display:none;">
    <span style="font-weight: bold;">Set status of cloned packages:</span><br/>
    <%= render :partial => 'layouts/sep_tiny' %>
    <input id="status_no_status" type="radio" name="status_option" value="no_status" checked/>
    <label for="status_no_status"> Do not assign status</label>
    <%= render :partial => 'layouts/sep_tiny' %>
    <span id='div_status_default'>
      <input id="status_default" type="radio" name="status_option" value="default"/>
      <label for="status_default"> Set to currently assigned status</label>
      <%= render :partial => 'layouts/sep_tiny' %>
      </span>
    <span id='div_status_selection'>
      <input id="status_select" type="radio" name="status_option" value="selection"/>
      <label for="status_select"> Set to existing status: </label>
        <select name="status_selection_value" onclick="select_status_option(false,false,true,false);">
          <option value=""> -</option>
          <% Status.find_all_can_select_by_task_id(Task.find_by_name(unescape_url(params[:id])).id).each do |status| %>
              <option value="<%= status.name %>"><%= status.name %></option>
          <% end %>
        </select>
      <%= render :partial => 'layouts/sep_tiny' %>
      </span>

    <input id="status_select_global" type="radio" name="status_option" value="selection_global"/>
    <label for="status_select_global"> Set to system internal status: </label>
    <select name="status_selection_value_global" onclick="select_status_option(false,false,false,true);">
      <option value=""> -</option>
      <% Status.find_all_can_select_only_in_global_scope.each do |status| %>
          <option value="<%= status.name %>"><%= status.name %></option>
      <% end %>
    </select>
    <%= render :partial => 'layouts/sep_tiny' %>

    <input id="status_new_value" type="radio" name="status_option" value="new_value"/>
    <label for='initial_status_value_field'> Set to new status: </label>
    <input id='initial_status_value_field' name="initial_status_value" onclick="select_status_option(true,false,false,false);"/><br/>

    <%= render :partial => 'layouts/sep' %>

  </div>

  <div id='div_tags' style="display:none;">
    <%= render :partial => 'layouts/sep_tiny' %>
    <span style="font-weight: bold;">Set tags of cloned packages:</span><br/>
    <% if task_has_tags?(unescape_url(params[:id])) %>
    <span id='div_tag_default'><input id="tag_default" name="tag_options[]" type="checkbox" value="default"/><label for="tag_default">
      Add currently assigned tags</label><br/> </span>
        <%= render :partial => 'layouts/sep_tiny' %>
        <span id='div_tag_selection'><input id="tag_select" name="tag_options[]" type="checkbox" value="selection"/><label for="tag_select">
          Add existing tags : </label>
          <%= render :partial => 'tags/tags_selection', :locals => {:task_id => params[:id]} %>
          <br/> </span>
        <%= render :partial => 'layouts/sep_tiny' %>
    <% end %>
    <input id="tag_new_value" name="tag_options[]" type="checkbox" value="new_value"/><label for="tag_new_value"> Add
    new
    tags:</label>
    <label for="initial_tag_values_field"></label><input id="initial_tag_values_field" name="initial_tag_values" onkeypress="document.getElementById('tag_new_value').checked=true;"/><br/>
    <%= render :partial => 'layouts/sep' %>
  </div>
  <input type="submit"/>
</form>

<% content_for :js do %>
    <script type="text/javascript">
        function select_status_option(a, b, c, d) {
            document.getElementById('status_new_value').checked = a;
            document.getElementById('status_default').checked = b;
            document.getElementById('status_select').checked = c;
            document.getElementById('status_select_global').checked = d;
        }

        function refresh_form() {
            var scope_status = document.getElementById('scope_status');
            var scope_tag = document.getElementById('scope_tag');
            var scope_package = document.getElementById('scope_package');

            if (scope_package.checked) {
						document.getElementById('scope_assignee_div').style.display = 'block';
                if (!scope_status.checked) {
                    document.getElementById('div_status_default').style.display = 'none';
                    document.getElementById('div_status_selection').style.display = 'none';
                } else {
                    document.getElementById('div_status_default').style.display = 'block';
                    document.getElementById('div_status_selection').style.display = 'block';
                }

            <% if task_has_tags?(unescape_url(params[:id])) %>
                if (!scope_tag.checked) {
                    document.getElementById('div_tag_default').style.display = 'none';
                    document.getElementById('div_tag_selection').style.display = 'none';
                } else {
                    document.getElementById('div_tag_default').style.display = 'block';
                    document.getElementById('div_tag_selection').style.display = 'block';
                }
            <% end %>
                new Effect.SlideDown('div_status', {duration: 0.5});
                new Effect.SlideDown('div_tags', {duration: 0.5});

            } else {
                document.getElementById('div_status').style.display = 'none';
                document.getElementById('div_tags').style.display = 'none';
				document.getElementById('scope_assignee_div').style.display = 'none';
            }
        }

        function validateForm() {
            return true;
        }

        Event.observe(window, "load", refresh_form());

    </script>
<% end %>

