<h2>Editing Task</h2>
<div style="height:20px;border:none;"></div>
<div class='manage-tbl'>
  <% form_for(@task) do |f| %>
      <%= f.error_messages %>
      <table>
        <%= render :partial => 'tasks/fields/name', :locals => {:f => f} %>
        <%= render :partial => 'tasks/fields/candidate_tag', :locals => {:f => f} %>
        <%= render :partial => 'tasks/fields/target_release', :locals => {:f => f} %>
        <%= render :partial => 'tasks/fields/milestone', :locals => {:f => f} %>
        <%= render :partial => 'tasks/fields/tag_version', :locals => {:f => f} %>
        <%= render :partial => 'tasks/fields/description', :locals => {:f => f} %>
        <%= render :partial => 'tasks/fields/advisory', :locals => {:f => f} %>
        <%= render :partial => 'statuses/fields/can_show', :locals => {:f => f} %>
        <%= render :partial => 'tasks/fields/os_arch', :locals => {:f => f} %>
        <tr>
          <td colspan='2'>
            <%= f.submit 'Update' %>
          </td>
        </tr>
      </table>
  <% end %>
</div>
<br/>
<%= link_to 'Back', tasks_path %>
