<h1>New Task</h1>

<div class='manage-tbl'>
  <% form_for(@task) do |f| %>
      <%= f.error_messages %>
      <table>
        <%= render :partial => 'tasks/fields/name', :locals => {:f => f} %>
        <%= render :partial => 'tasks/fields/candidate_tag', :locals => {:f => f} %>
        <%= render :partial => 'tasks/fields/target_release', :locals => {:f => f} %>
        <%= render :partial => 'tasks/fields/description', :locals => {:f => f} %>
		<%= render :partial => 'statuses/fields/can_show', :locals => {:f => f} %>
        <tr>
          <td colspan='2'>
            <%= f.submit 'Create' %>
          </td>
        </tr>
      </table>
  <% end %>
</div>
<br/>
<%= link_to 'Back', tasks_path %>