<h2><%= h @task.name %></h2>

<div class='manage-tbl'>
  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <%= h @task.name %>
      </td>
    </tr>
    <tr>
      <td>
        Target Release:
      </td>
      <td>
        <%= h @task.target_release %>
      </td>
    </tr>
    <tr>
      <td>
        Prod:
      </td>
      <td>
        <%= h @task.prod %>
      </td>
    </tr>
    <tr>
      <td>
        Milestone:
      </td>
      <td>
        <%= h @task.milestone %>
      </td>
    </tr>
    <tr>
      <td>
        Version:
      </td>
      <td>
        <%= h @task.tag_version %>
      </td>
    </tr>
    <tr>
      <td>
        Description:
      </td>
      <td style="text-align: left;text-wrap:normal;white-space:normal;">
        <%= @task.description %>
      </td>
    </tr>
    <tr>
      <td>Can Show</td>
      <td><%= @task.can_show %></td>
    </tr>
  </table>
</div>

<p/>
<div class='manage-tbl'>
  <table id='bz_list_tbl'>
    <%= render :partial => 'tasks/os_arch/header' %>
    <% @task.sorted_os_advisory_tags.each do |os_advisory_tag| %>
        <%= render :partial => 'tasks/os_arch/fields', :locals => {:os_advisory_tag => os_advisory_tag} %>
    <% end %>
  </table>
</div>
<p/>
<% if can_manage? %>
    <%= link_to 'Edit', :controller => :tasks, :action => :edit, :id => escape_url(@task.name) %> |
<% end %>
<%= link_to 'Back', tasks_path %>
