<h2><%= h @task.name %></h2>

<div class='manage-tbl'>
  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <%= h @task.name %>
      </td>
    </tr>
    <tr>
      <td>
        Candidate Tag:
      </td>
      <td>
        <%= h @task.candidate_tag %>
      </td>
    </tr>
    <tr>
      <td>
        Target Release:
      </td>
      <td>
        <%= h @task.target_release %>
      </td>
    </tr>
    <tr>
      <td>
        Prod:
      </td>
      <td>
        <%= h @task.prod %>
      </td>
    </tr>
    <tr>
      <td>
        Milestone:
      </td>
      <td>
        <%= h @task.milestone %>
      </td>
    </tr>
    <tr>
      <td>
        Version:
      </td>
      <td>
        <%= h @task.tag_version %>
      </td>
    </tr>
    <tr>
      <td>
        Description:
      </td>
      <td style="text-align: left;text-wrap:normal;white-space:normal;">
        <%= @task.description %>
      </td>
    </tr>
    <tr>
      <td>
        Advisory:
      </td>
      <td style="text-align: left;text-wrap:normal;white-space:normal;">
        <%= @task.advisory %>
      </td>
    </tr>
    <tr>
      <td>Can Show</td>
      <td><%= @task.can_show %></td>
    </tr>
  </table>
</div>

<p/>
<div class='manage-tbl'>
  <table id='bz_list_tbl'>
    <tr>
      <th class='content-list-head'>OS</th>
      <th class='content-list-head'>Advisory</th>
      <th class='content-list-head'>Candidate Tag</th>
    </tr>
    <% (@task.os_advisory_tags.each.sort_by { |tag| tag.priority }).each do |tag| %>
        <tr>
          <td><%= tag.os_arch %></td>
          <td><%= tag.advisory %></td>
          <td><%= tag.candidate_tag %></td>
        </tr>
    <% end %>
  </table>
</div>
<p/>
<% if can_manage? %>
    <%= link_to 'Edit', :controller => :tasks, :action => :edit, :id => escape_url(@task.name) %> |
<% end %>
<%= link_to 'Back', tasks_path %>
