<% if @task.readonly? %>
  <h1 style="color:red">Readonly Task</h1>
<% end %>

<h2><%= h @task.name %></h2>

<div class='manage-tbl'>
  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <%= h @task.name %>
      </td>
    </tr>
    <tr>
      <td>
        Coordinator:
      </td>
      <td>
        <% if @task.coordinator.blank? %>
           -
        <% else %>
          <%= h @task.coordinator.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Repository:
      </td>
      <td>
        <%= h @task.repository %>
      </td>
    </tr>
    <tr>
      <td title="Activate to get builds going">
        Cronjob Activated?:
      </td>
      <td>
        <%= h @task.active? ? "✓": "No" %>
      </td>
    </tr>
    <tr>
      <td>
        Frozen Task?:
      </td>
      <td>
        <%= h @task.frozen_state? ? "✓": "No" %>
      </td>
    </tr>
    <tr>
      <td>
        Previous Version Tag:
      </td>
      <td>
        <%= h @task.previous_version_tag %>
      </td>
    </tr>
    <tr>
      <td>
          Allow non-shipped packages to be added by regular users?
      </td>
      <td>
        <%= h @task.allow_non_shipped_pkgs ? "✓": "No" %>
      </td>
    </tr>
    <tr>
      <td>
        Target Release:
      </td>
      <td>
        <%= h @task.target_release %>
      </td>
    </tr>
    <tr>
      <td>
        Prod:
      </td>
      <td>
        <%= h @task.prod %>
      </td>
    </tr>
    <tr>
      <td>
        Build Branch
      </td>
      <td>
          <%= h @task.build_branch %>
      </td>
    </tr>
    <tr>
      <td>
        Milestone:
      </td>
      <td>
        <%= h @task.milestone %>
      </td>
    </tr>
    <tr>
      <td>
        Version:
      </td>
      <td>
        <%= h @task.tag_version %>
      </td>
    </tr>
    <tr>
      <td>
        Description:
      </td>
      <td style="text-align: left;text-wrap:normal;white-space:normal;">
        <%= @task.description %>
      </td>
    </tr>
    <tr>
      <td>Can Show</td>
      <td><%= @task.can_show %></td>
    </tr>
  </table>
</div>

<br />
<p>
  <h3>Note</h3>
  The order of the configurations listed below matters! Please put as first Advisory/OS the OS you want to build first!!
</p>
<p/>
<div class='manage-tbl'>
  <table id='bz_list_tbl'>
    <%= render :partial => 'tasks/os_arch/header' %>
    <% @task.sorted_os_advisory_tags.each do |os_advisory_tag| %>
        <%= render :partial => 'tasks/os_arch/fields', :locals => {:os_advisory_tag => os_advisory_tag} %>
    <% end %>
  </table>
</div>
<p/>
<% if !@task.readonly? && can_manage? %>
    <%= link_to 'Edit', :controller => :tasks, :action => :edit, :id => escape_url(@task.name) %> |
<% end %>
<%= link_to 'Back', tasks_path %>
