<h1>Editing Task Group</h1>
<% f = ActionView::Helpers::FormBuilder.new('task_group', @task_group, self, nil, nil) %>
<form action="/task_groups/<%= @task_group.id %>" class="edit_task_group" method="post">
  <%= f.error_messages %>
  <input name="_method" type="hidden" value="put"/>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

  <%= render :partial => 'task_groups/form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
</form>


<%= link_to 'Show', @task_group %> |
<%= link_to 'Back', task_groups_path %>