<h1>New task_group</h1>

<% if Rails::VERSION::STRING < "4" %>
	<% form_for(@task_group) do |f| %>
	  <%= f.error_messages %>

	  <%= render :partial => 'task_groups/form', :locals => {:f => f} %>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>
<% else %>
	<%= form_for(@task_group) do |f| %>
	  <%= f.error_messages %>

	  <%= render :partial => 'task_groups/form', :locals => {:f => f} %>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>
<% end %>

<%= link_to 'Back', task_groups_path %>