<%= javascript_include_tag :defaults %>
    <div style="text-align: left;">
    <% if Rails::VERSION::STRING < "4" %>
      <% form_remote_tag(
                 :url => {:controller => 'toolbox', :action => 'maven_build_arguments_ajax_req'},
                 :loading => "Element.show('spinner_build_#{@package_id}');",
                 :success => "Element.hide('spinner_build_#{@package_id}');
             ") do %>
            <%= hidden_field_tag :package_id, @package_id %>
            <%= text_area(:m_b_a, :text,
                          :cols => 130,
                          :placeholder => 'Maven build arguments') %>
            <br />
            <br />
            <%= submit_tag 'Submit edited maven-build-arguments to repository' %>
            <%= render :partial => 'layouts/progress_indicator',
                       :locals => {:progress_indicator_id => "spinner_build_#{@package_id}"} %>
      <% end %>
    <% else %>
      <%= form_tag(
                 {:controller => 'toolbox', :action => 'maven_build_arguments_ajax_req'},
                 :remote => true,
                 :loading => "Element.show('spinner_build_#{@package_id}');",
                 :success => "Element.hide('spinner_build_#{@package_id}');
             ") do %>
            <%= hidden_field_tag :package_id, @package_id %>
            <%= text_area(:m_b_a, :text,
                          :cols => 130,
                          :placeholder => 'Maven build arguments') %>
            <br />
            <br />
            <%= submit_tag 'Submit edited maven-build-arguments to repository' %>
            <%= render :partial => 'layouts/progress_indicator',
                       :locals => {:progress_indicator_id => "spinner_build_#{@package_id}"} %>
      <% end %>
    <% end %>
    </div>
