<h1>Setting Readonly Tasks</h1>
<form action="/readonly_tasks/0" class="edit_task" method="post">
  <input name="_method" type="hidden" value="put"/>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

  <div class='manage-tbl'>
    <table border=1>
      <tr>
        <td>Readonly?</td>
        <td>Task Name</td>
      </tr>
      <% Task.all(:order => :name).each do |task| %>
          <tr>
            <td style="text-align: right;">
              <input id="task_<%= task.id %>" type="checkbox" name="task_ids[]" value="<%= task.id %>"
                     <% if task.readonly? %>
                     checked
                     <% end %>
                     /></td>
            <td>
              <label for="task_<%= task.id %>"><%= task.name %></label>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
  <p>
    <input type="submit" value="Update"> <%= link_to 'Back', readonly_tasks_path %>
  </p>
</form>

