<tr>
  <td><%= os_advisory_tag.os_arch %></td>
  <td><%= os_advisory_tag.advisory %></td>
  <td><%= os_advisory_tag.target_tag %></td>
  <td><%= os_advisory_tag.build_tag %></td>
  <td><%= os_advisory_tag.candidate_tag %></td>
</tr>
