<h1>Editing workflow</h1>

<% form_for(@workflow) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= render :partial => 'workflows/start_status' %>
    </p>
    <p>
      <%= render :partial => 'workflows/workflow_definitions' %>
    </p>
    <p>
      <%= render :partial => 'workflows/assigned_tasks' %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
<% end %>

<%= link_to 'Show', @workflow %> |
<%= link_to 'Back', workflows_path %>