<h1>New workflow</h1>

<% form_for(@workflow) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <%= render :partial => 'workflows/workflow_definitions' %>
    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>

<%= link_to 'Back', workflows_path %>