<h1>Editing manual_log_entry</h1>

<% form_for(@manual_log_entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :who %><br />
    <%= f.text_field :who %>
  </p>
  <p>
    <%= f.label :from %><br />
    <%= f.datetime_select :from %>
  </p>
  <p>
    <%= f.label :to %><br />
    <%= f.datetime_select :to %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @manual_log_entry %> |
<%= link_to 'Back', manual_log_entries_path %>