<h1>Editing manual_log_entry</h1>

<% form_for(@manual_log_entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :who %><br />
    <%= f.text_field :who %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
  <%= f.label :end_time %><br />
  <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @manual_log_entry %> |
<%= link_to 'Back', manual_log_entries_path %>
