<p>
  <b>Who:</b>
  <%=h @manual_log_entry.who %>
</p>

<p>
  <b>From:</b>
  <%=h @manual_log_entry.start_time %>
</p>

<p>
  <b>To:</b>
  <%=h @manual_log_entry.end_time %>
</p>


<%= link_to 'Edit', edit_manual_log_entry_path(@manual_log_entry) %> |
<%= link_to 'Back', manual_log_entries_path %>
