<h2>Listing users</h2>
<div class='manage-tbl'>
  <table>
    <tr>
      <th class='content-list-head'>Name</th>
      <th class='content-list-head'>Email</th>
      <th class='content-list-head'>Time Zone</th>
      <th class='content-list-head'>&nbsp;Can Manage&nbsp;</th>
      <% if logged_in? %>
          <th class='content-list-head'> Operation</th>
      <% end %>
    </tr>

    <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, :controller => :users, :action => :show, :id => user.id %></td>
          <td><%= h user.email %></td>
          <td><%= h user.zone_name %></td>
          <td><%= h user.can_manage %></td>
          <% if logged_in? %>
              <td>
                <% if its_me?(user) %>
                    <%= link_to 'Edit', edit_user_path(user) %>
                <% end %>
              </td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>
<br/>

<% if can_manage? %>
    <%= link_to 'New User', :controller => :users, :action => :new %>
<% end %>
