<h2><%= h @user.name %></h2>
<div class='manage-tbl'>
  <table>
    <tr>
      <td>Name</td>
      <td><%= h @user.name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= h @user.email %></td>
    </tr>
    <tr>
      <td>Bugzilla Email</td>
      <td><%= h @user.bugzilla_email %></td>
    </tr>
    <tr>
      <td>Time Zone</td>
      <td><%= @user.zone_name %></td>
    </tr>
    <tr>
      <td>Can Manage</td>
      <td><%= h @user.can_manage %></td>
    </tr>
    <% if its_myself?(@user) %>
      <tr>
        <td>Token (Use for REST requests)</td>
        <td><%= h @user.token %>
          <%= button_to "Generate New Token", {:controller => "users", :action => "generate_new_token", :id => @user} %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<br/>
<% if its_myself?(@user) || can_manage? %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
