<h1>New cronjob_mode</h1>

<% form_for(@cronjob_mode) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mode %><br />
    <%= f.text_field :mode %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cronjob_modes_path %>