<% task = Task.find_by_name(unescape_url(params[:id])) %>
<h2>Import packages into task: <%= params[:id] %></h2>
<form action="/import" method="post" onsubmit="return validateForm();">
  <% package = Package.new
  	package.task = task %>
  Intital status: <%= render :partial => "statuses/selection_for_tag", :locals => {:package => package} %>
  <%= render :partial => "layouts/sep" %>
  Initial tags: <%= render :partial => 'tags/tags_selection', :locals => {:task_id => params[:id]} %>
  <%= render :partial => "layouts/sep" %>
  <% if task.use_bz_integration? %>
      <div><input type="checkbox" id="create_bz" name="create_bz"/>
        <label for="create_bz">Create BZ bug automatically</label></div>
      <table>
        <tr>
          <td>
            <%= render :partial => 'bz_bugs/fields/bz_user' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= render :partial => 'bz_bugs/fields/bz_pass' %>
          </td>
        </tr>
      </table>

      <%= render :partial => "layouts/sep" %>
      <pre>
      * To use the <strong>auto bug creation function,</strong> you must provide the Version for each package.
        Here is the format: package_name,version
        Example: hoge,1.0

      * NOTE: Please be patient after clicking 'Import', and don't resubmit the form! It will use a long
        time to create bugs in BZ.

      </pre>
      <%= render :partial => "layouts/sep" %>
  <% end %>

  One package per line:
  <div class='manage-tbl'>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input name="task_id" type="hidden" value="<%= escape_url(params[:id]) %>"/>
    <textarea cols="64" rows="20" id="packages" name="packages"></textarea>

    <div style="height:10px;">&nbsp;</div>
    <input name="commit" type="submit" value="Import"/>
  </div>
</form>




<% content_for :js do %>
    <script type="text/javascript">
        <% if task.use_bz_integration? %>
        function validateForm() {
            if (document.getElementById('create_bz').checked) {
                var bzauth_user = document.getElementById('bzauth_user');
                var bzauth_pwd = document.getElementById('bzauth_pwd');

                if (checkBzAuthFieldsNotEmpty(bzauth_user, bzauth_pwd)) {
                    return true;
                } else {
                    return false;
                }
                ;
            } else {
                return true;
            }
        }
        <% else %>
        function validateForm() {
            return true;
        }
        <% end %>
    </script>
<% end %>
