<% @package ||= nil %>
<% task_id ||= nil %>
<% package ||= @package %>
<% sep ||= '/' %>
<%
   @task = nil
   if !task_id.blank?
     @task = Task.find_by_name(unescape_url(task_id))
   elsif !package.blank?
     @task = package.task
   end
%>

<% @task.tags.each do |tag| %>
    <% if package.blank? %>
        <label><%= tag.key %> - <%= check_box_tag("tags[]", tag.key, false) %></label> <%= sep %>
    <% else %>
        <% assignment = Assignment.find_by_package_id_and_tag_id(package.id, tag.id) %>
        <label><%= tag.key %> - <%= check_box_tag("tags[]", tag.key, assignment != nil) %></label> <%= sep %>
    <% end %>
<% end %>

<%=hidden_field_tag :process_tags, 'Yes'%>