<% if params[:product_id].blank? %>
    <h2>Listing tags</h2>
<% else %>
    <h2>Listing tags of <%= params[:product_id] %></h2>
<% end %>

<div class='manage-tbl'>
  <table style="width:300px;">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>-</th>
    </tr>

    <% @tags.each do |tag| %>
        <tr>
          <td><%= h tag.id %></td>
          <td><%= h tag.key %></td>
          <td><%= h tag.value %></td>
          <td>
            <% if can_manage? %>
                <%= link_to 'Edit', edit_tag_path(tag) %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>

<br/>
<% if params[:product_id].blank? %>
    <%= link_to 'New tag', :controller => :tags, :action => :new, :product_id => params[:product_id] %>
<% else %>
    <%= link_to "New tag of #{unescape_url(params[:product_id])}", :controller => :tags, :action => :new, :product_id => params[:product_id] %>
    <%= render :partial => 'layouts/sep_tiny' %>
    <%= link_to "Back to #{unescape_url(params[:product_id])}", :controller => :packages, :action => :index, :product_id => escape_url(params[:product_id]) %>

<% end %>
