<% if params[:product_id].blank? %>
<h2>New tag</h2>
<% else %>
<h2>New tag of <%= params[:product_id] %></h2>
<% end %>

<% form_for(@tag) do |f| %>
    <%= f.error_messages %>

    <%= render :partial => 'key', :locals => {:f => f} %>
    <%= render :partial => 'value', :locals => {:f => f} %>
    <%= render :partial => 'product_id', :locals => {:f => f} %>

    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>

<%= link_to 'Back', tags_path %>