<h2><%= h @brew_tag.name %></h2>

<div class='manage-tbl'>
  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <%= h @brew_tag.name %>
      </td>
    </tr>
    <tr>
      <td>
        Description:
      </td>
      <td>
        <%= h @brew_tag.description %>
      </td>
    </tr>
	<tr>
      <td>Can Show</td>
      <td><%= @brew_tag.can_show %></td>
    </tr>
  </table>
</div>

<br/>


<% if can_manage? %>
    <%= link_to 'Edit', :controller => :brew_tags, :action => :edit, :id => escape_url(@brew_tag.name) %> |
<% end %>
<%= link_to 'Back', brew_tags_path %>