<% id ||= nil %>
<% style ||= 'text-align: left' %>
<tr>
  <td style="<%= style %>">
    Bugzilla account password
  </td>
  <td style="<%= style %>">
    <%# if id.blank? %>
        <input id="bzauth_pwd" name="bzauth_pwd" value="<%= session[:bz_pass] %>" type="password"/>
    <%# else %>
        <!--
           - <input id="bzauth_pwd_<%=id%>" name="bzauth_pwd" value="<%= session[:bz_pass] %>" type="password"/>
           -->
    <%# end %>
  </td>
</tr>
