<h2>Clone Settings</h2>
<%= render :partial => 'layouts/error_messages' %>


<form action="/products/clone/<%= escape_url(params[:id]) %>" method="post" onsubmit="return validateForm();">
  <input type='hidden' value='<%= escape_url(params[:id]) %>' name='source_tag_name'/>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <label for="target_tag_name_field">Clone <%= @product.name %> to:</label>
  <input id='target_tag_name_field' name="target_tag_name"/> - (target tag name) <br/>

  <%= render :partial => 'layouts/sep' %>  

  <input id='scope_label' name="scopes[]" type="checkbox" value="label" onclick="refresh_form();"/>
  <label for="scope_label">Clone Labels</label>
  <%= render :partial => 'layouts/sep_tiny' %>
  <input id='scope_mark' name="scopes[]" type="checkbox" value="mark" onclick="refresh_form();"/>
  <label for="scope_mark">Clone Marks</label>
  <%= render :partial => 'layouts/sep_tiny' %>
  <input id='scope_package' name="scopes[]" type="checkbox" value="package" onclick="refresh_form();"/>
  <label for="scope_package">Clone Packages</label>
  <%= render :partial => 'layouts/sep_tiny' %>
<div id='scope_assignee_div' style="display:none;">
<input id='scope_assignee' name="scopes[]" type="checkbox" value="assignee"/>
  <label for="scope_assignee">Clone Assignee</label>
</div>
  <%= render :partial => 'layouts/sep' %>


  <div id='div_label' style="display:none;">
    <span style="font-weight: bold;">Set label of cloned packages:</span><br/>
    <%= render :partial => 'layouts/sep_tiny' %>
    <input id="label_no_label" type="radio" name="label_option" value="no_label" checked/>
    <label for="label_no_label"> Do not assign label</label>
    <%= render :partial => 'layouts/sep_tiny' %>
    <span id='div_label_default'>
      <input id="label_default" type="radio" name="label_option" value="default"/>
      <label for="label_default"> Set to currently assigned label</label>
      <%= render :partial => 'layouts/sep_tiny' %>
      </span>
    <span id='div_label_selection'>
      <input id="label_select" type="radio" name="label_option" value="selection"/>
      <label for="label_select"> Set to existing label: </label>
        <select name="label_selection_value" onclick="select_label_option(false,false,true,false);">
          <option value=""> -</option>
          <% Label.find_all_can_select_by_product_id(Product.find_by_name(unescape_url(params[:id])).id).each do |label| %>
              <option value="<%= label.name %>"><%= label.name %></option>
          <% end %>
        </select>
      <%= render :partial => 'layouts/sep_tiny' %>
      </span>

    <input id="label_select_global" type="radio" name="label_option" value="selection_global"/>
    <label for="label_select_global"> Set to system internal label: </label>
    <select name="label_selection_value_global" onclick="select_label_option(false,false,false,true);">
      <option value=""> -</option>
      <% Label.find_all_can_select_only_in_global_scope.each do |label| %>
          <option value="<%= label.name %>"><%= label.name %></option>
      <% end %>
    </select>
    <%= render :partial => 'layouts/sep_tiny' %>

    <input id="label_new_value" type="radio" name="label_option" value="new_value"/>
    <label for='initial_label_value_field'> Set to new label: </label>
    <input id='initial_label_value_field' name="initial_label_value" onclick="select_label_option(true,false,false,false);"/><br/>

    <%= render :partial => 'layouts/sep' %>

  </div>

  <div id='div_marks' style="display:none;">
    <%= render :partial => 'layouts/sep_tiny' %>
    <span style="font-weight: bold;">Set marks of cloned packages:</span><br/>
    <% if product_has_marks?(unescape_url(params[:id])) %>
    <span id='div_mark_default'><input id="mark_default" name="mark_options[]" type="checkbox" value="default"/><label for="mark_default">
      Add currently assigned marks</label><br/> </span>
        <%= render :partial => 'layouts/sep_tiny' %>
        <span id='div_mark_selection'><input id="mark_select" name="mark_options[]" type="checkbox" value="selection"/><label for="mark_select">
          Add existing marks : </label>
          <%= render :partial => 'marks/marks_selection', :locals => {:product_id => params[:id]} %>
          <br/> </span>
        <%= render :partial => 'layouts/sep_tiny' %>
    <% end %>
    <input id="mark_new_value" name="mark_options[]" type="checkbox" value="new_value"/><label for="mark_new_value"> Add
    new
    marks:</label>
    <label for="initial_mark_values_field"></label><input id="initial_mark_values_field" name="initial_mark_values" onkeypress="document.getElementById('mark_new_value').checked=true;"/><br/>
    <%= render :partial => 'layouts/sep' %>
  </div>
  <input type="submit"/>
</form>

<% content_for :js do %>
    <script type="text/javascript">
        function select_label_option(a, b, c, d) {
            document.getElementById('label_new_value').checked = a;
            document.getElementById('label_default').checked = b;
            document.getElementById('label_select').checked = c;
            document.getElementById('label_select_global').checked = d;
        }

        function refresh_form() {
            var scope_label = document.getElementById('scope_label');
            var scope_mark = document.getElementById('scope_mark');
            var scope_package = document.getElementById('scope_package');

            if (scope_package.checked) {
						document.getElementById('scope_assignee_div').style.display = 'block';
                if (!scope_label.checked) {
                    document.getElementById('div_label_default').style.display = 'none';
                    document.getElementById('div_label_selection').style.display = 'none';
                } else {
                    document.getElementById('div_label_default').style.display = 'block';
                    document.getElementById('div_label_selection').style.display = 'block';
                }

            <% if product_has_marks?(unescape_url(params[:id])) %>
                if (!scope_mark.checked) {
                    document.getElementById('div_mark_default').style.display = 'none';
                    document.getElementById('div_mark_selection').style.display = 'none';
                } else {
                    document.getElementById('div_mark_default').style.display = 'block';
                    document.getElementById('div_mark_selection').style.display = 'block';
                }
            <% end %>
                new Effect.SlideDown('div_label', {duration: 0.5});
                new Effect.SlideDown('div_marks', {duration: 0.5});

            } else {
                document.getElementById('div_label').style.display = 'none';
                document.getElementById('div_marks').style.display = 'none';
				document.getElementById('scope_assignee_div').style.display = 'none';
            }
        }

        function validateForm() {
            return true;
        }

        Event.observe(window, "load", refresh_form());

    </script>
<% end %>

