<h2><%= h @product.name %></h2>

<div class='manage-tbl'>
  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <%= h @product.name %>
      </td>
    </tr>
    <tr>
      <td>
        Candidate Tag:
      </td>
      <td>
        <%= h @product.candidate_tag %>
      </td>
    </tr>
    <tr>
      <td>
        Target Release:
      </td>
      <td>
        <%= h @product.target_release %>
      </td>
    </tr>
    <tr>
      <td>
        Description:
      </td>
      <td style="text-align: left;text-wrap:normal;white-space:normal;">
        <%= @product.description %>
      </td>
    </tr>
	<tr>
      <td>Can Show</td>
      <td><%= @product.can_show %></td>
    </tr>
  </table>
</div>

<br/>


<% if can_manage? %>
    <%= link_to 'Edit', :controller => :products, :action => :edit, :id => escape_url(@product.name) %> |
<% end %>
<%= link_to 'Back', products_path %>
