<div style="width:100%;text-align:right;">
	<span style="padding-right:20px;"> 
		<%= link_to 'Settings', '/settings/1' %>
      /
      <%= link_to 'Components', '/components' %>
      /
      <%= link_to 'Label List', '/labels' %>
      /
      <%= link_to 'Tag List', products_path %>
      /
      <%= link_to 'User List', users_path %>
      /
      <% unless logged_in? %>
			<%= link_to 'Login', '/login' %> /
          <%= link_to 'Register', new_user_path %>
		<% else %>
			Welcome, <%= link_to current_user.name, :controller => :users, :action => :show, :id => current_user.id %>
          (<%= link_to 'All My Packages', :controller => :packages, :action => :index, :user => current_user.email, :product_id => nil %>
          )&nbsp;/&nbsp;<%= link_to 'Logout', '/logout' %>
		<% end %>
	</span>
</div>
<%= render :partial => 'layouts/line' %>
