<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= controller.class %> - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>

  <%= yield :css %>

  <%= stylesheet_link_tag 'style.css' %>
  <%= stylesheet_link_tag 'tablesaw.css' %>
  <%= stylesheet_link_tag '/javascripts/filament-dialog/dialog.css' %>
  <%= stylesheet_link_tag '/javascripts/syntaxHighlighter/styles/shCore.css' %>
  <%= stylesheet_link_tag '/javascripts/syntaxHighlighter/styles/shThemeDefault.css' %>
  <%= stylesheet_link_tag 'icons.fallback.css' %>
  <%= javascript_include_tag 'tinybox.js' %>
  <%= javascript_include_tag 'jquery/dist/jquery.js' %>
  <%= javascript_include_tag 'filament-dialog/dialog.js' %>
  <%= javascript_include_tag 'tablesaw.js' %>
</head>
<body>
<%# image_tag 'confidential.jpg' %>
<%= render :partial => 'layouts/sep_tiny' %>
<h1>EAP Build Tracking Tool (ETT)</h1>
<%= render :partial => 'layouts/line' %>
<%= render :partial => 'layouts/menus' %>
<%= render :partial => 'layouts/components' %>
<%= render :partial => 'layouts/tasks' %>

<p style="color: green"><%= flash[:notice] %></p>

<div style="padding:20px;">
  <%= yield %>
</div>
<%= render :partial => 'layouts/sep' %>
<%= render :partial => 'layouts/line' %>
<div style="width:100%;padding-left:20px;text-align:left;">
  Copyright &copy; 2014 Red Hat
  <div style="text-align:right; float:right;">
      <a target="_blank" href="https://projects.engineering.redhat.com/secure/CreateIssue.jspa?pid=11402">
          <button>Report an issue</button>
      </a>
  </div>
</div>
<%= render :partial => 'layouts/sep' %>

<%= javascript_include_tag :defaults %>
<%= render :partial => 'layouts/regexp' %>
<%= render :partial => 'layouts/application_js' %>
<%= yield :js %>
<%= javascript_include_tag 'syntaxHighlighter/scripts/shCore.js' %>
<%= javascript_include_tag 'syntaxHighlighter/scripts/shBrushJava.js' %>
<%= javascript_include_tag 'syntaxHighlighter/scripts/shBrushXml.js' %>
<%= javascript_include_tag 'syntaxHighlighter/scripts/shBrushBash.js' %>
<%= javascript_include_tag 'syntaxHighlighter/scripts/shBrushRuby.js' %>
<%= javascript_include_tag 'syntaxHighlighter/scripts/shBrushPerl.js' %>
<%= javascript_include_tag 'syntaxHighlighter/scripts/shBrushJScript.js' %>
<%= javascript_include_tag 'syntaxHighlighter/scripts/shBrushSql.js' %>

<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = '/javascripts/syntaxHighlighter/scripts/clipboard.swf';
    SyntaxHighlighter.all();


    function selectTaskGroup(task_group_id) {
        if (task_group_id == "-") {
            window.location.href = window.location.href.replace(/task_group_id=\d*/, "").replace(/&+/, "");
        } else {
            if (/task_group_id=\d*/.test(window.location.href)) {

                window.location.href = window.location.href.replace(/task_group_id=\d*/, "task_group_id=" + task_group_id);
            } else {
                if (/\?/.test(window.location.href)) {
                    window.location.href = window.location.href + "&task_group_id=" + task_group_id;
                } else {
                    window.location.href = window.location.href + "?task_group_id=" + task_group_id;
                }
            }
        }
    }
</script>
</body>
</html>

